body {
    text-align: center;
}
.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
#apps {
    background-color: red;
}
#games {
    background-color:  lightgreen;
}
#bots {
    background-color: blue;
}